.bien{
    border: 1px black solid;
    border-radius: 25px;
    margin-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.titre{
    margin: 0.2em;
    font-size: 20px;
    font-weight: bold;
}

.refuser .accepter{
    padding: 5em;
}